<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="max-image-preview:standard">

    <title>James Takeo | Private Tattoo Studio | Niagara's Best</title>

    <meta name="title" content="James Takeo | Private Tattoo Studio | Niagara's Best" />
    <meta name="description" content="enjoy a private tattoo studio setting, where this award winning artist offers the best Tattoos in Niagara, including Welland, St.Catharines, Niagara Falls, and close to you!">
    <meta name="keywords" content="tattoos, close by, portrait, touch ups, clean, award winning, safe, black and white, niagara, welland, st.catharines, niagara falls, grimsby, port colborne">
    <meta name="author" content="Adam Dellow">

    <meta property="og:title" content="James Takeo | Private Tattoo Studio | Niagara's Best" />
    <meta property="og:type" content="tattoo studio" />
    <meta property="og:url" content="https://www.jamestakeotattoos.com" />
    <meta property="og:image" content="#" />

    <meta name="twitter:title" content="European Travel Destinations ">
    <meta name="twitter:description" content="enjoy a private tattoo studio setting, where this award winning artist offers the best Tattoos in Niagara, including Welland, St.Catharines, Niagara Falls, and close to you!">
    <meta name="keywords" content="tattoos, close by, portrait, touch ups, clean, award winning, safe, black and white, niagara, welland, st.catharines, niagara falls, grimsby, port colborne.">
    <meta name="twitter:image" content="#">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="/css/style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div class="container justify-contents-center flex-column">
