<!-- About section with information and image -->
<div class="container d-flex justify-content-center" id="about" style="background-color: grey; padding:10px">

  <div class="about d-flex justify-contents-center" style="color: white;">
    <div class="about-image" style="width:100%; padding:10px">
      <img src="/img/Profile01.jpg" alt="Profile picture of James"  style="width:100%; ">
    </div>

    <div class="information" style="padding:10px; color: white;">
      <h3><b>
        -A leader in tattoo safety <br />
        -Private studio setting​ <br />
        -Tattooed in many provinces <br />
        -Thousands of people wear his art <br />
        -involved with local arts community <br /></b>
      </h3>
      <p>
        Specializing in Dark, Horror-themed, Black and Grey, and Custom Tattoos, James provides a unique Private experience, Health Board Certified, and in business for many years. In the Niagara area; if you're in Welland, St. Catharines, Niagara Falls, Hamilton, or Toronto even, use the contact form below to inquire about your next Tattoo Today!
      </p>
    </div>
    <p>James Takeo is a tattoo artist with many years of Tattoo experience, spanning across all of Canada</p>
    <p>Don't forget to check out my FB business page for the latest updates!</p>
  </div>
</div>
<div class="space">

</div>

<%- include('booking.ejs') %>
