<!-- Google Maps Api data showing location


 -->
 <!-- <div class="google-maps d-flex justify-content-center" style="max-width:100%; ">
 <iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfUmvGstJ04kR5rZtIlVYoLY&key=AIzaSyAM_BRapUf_QZ6ZuNpXQ3pN35ksEvlFMCU"></iframe>
 </div> -->

<%- include('partials/footer.ejs') %>
